{
  "presets": [
    [
      "@babel/preset-env",
      {
        "loose": true,
        "targets": {
          "node": "10"
        }
      }
    ],
    ["@babel/preset-typescript", { "loose": true }]
  ],
  "plugins": [["@babel/plugin-proposal-class-properties", { "loose": true }]]
}
