{
  "parser": "babel-eslint",
  "extends": [
    "eslint:recommended",
    "plugin:flowtype/recommended",
    "plugin:jest/recommended",
    "prettier/flowtype"
  ],
  "plugins": ["flowtype", "jest"],
  "parserOptions": {
    "ecmaVersion": 6,
    "sourceType": "module"
  },
  "env": {
    "es6": true,
    "node": true
  },
  "rules": {
    "no-redeclare": "off",
    "no-console": "off",
    "no-unused-vars": [
      2,
      { "vars": "all", "args": "after-used", "argsIgnorePattern": "^_" }
    ]
  }
}
